<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--이름을 headerFragment로 작성해두고 layout에서는 headFragment조회하려고 해서 에러가 난듯 하다.-->
<th:block th:fragment="headFragment">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

    <link rel="stylesheet" href="../css/master.css">

</th:block>

</html>