<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


    <th:block th:fragment="topFragment">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1" >
                    <em th:text="${session.loginMember==null}?${''}:'안녕하세요 ' + ${session.loginMember.name} + '님'" >
                    </em>



                </div>
                <div class="col-4 text-center">
                    <h1 class="blog-header-logo text-dark">승진's 게시판</h1>
                </div>
                <div class="col-4 text-center">
                    <a class="btn btn-sm" th:href="${session.loginMember==null}?${'/LoginForm'}:${'/LogOut'}" th:text="${session.loginMember==null}?${'로그인'}:${'로그아웃'}"></a>
                    <a class="btn btn-sm" th:href="${session.loginMember==null}?${'/SignUp'}:${''}" th:text="${session.loginMember==null}?${'회원가입'}:${''}"></a>
                    <a th:if="${session.loginMember!= null}" class="btn btn-sm" href="http://localhost:8081/User/MyInfo" >MyInfo</a>
                </div>
                <div class="col-4 text-center">
                    <!--                <a class="text-muted" href="#">-->
                    <!--                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>-->
                    <!--                </a>-->

                </div>
            </div>
        </header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light align-content-center">
            <div class="container justify-content-center">
                <header class="blog-header py-3 ">
                    <div class="nav-scroller py-1 mb-2">
                        <nav class="nav d-flex justify-content-between ">
                            <a class="p-2 text-muted" href="http://localhost:8081/ArticleWrite">게시판 글쓰기</a>
                            <a class="p-2 text-muted" href="http://localhost:8081/Article/list?pageGroup=1">게시판 조회</a>
                            <th:block th:if="${session.loginMember !=null } ">
                            <a th:if="${session.loginMember.role =='ADMIN'}" class="p-2 text-muted" href="http://localhost:8081/Admin" >회원정보 조회</a>
                            </th:block>
                        </nav>
                    </div>
                </header>
            </div>
        </nav>
    </th:block>

</html>