<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">



<th:block layout:fragment="content">
    <div class="container-fluid">
        <div>유저정보 조회</div>
        <table class="table table-striped">
            <thead>
            <th>아이디</th>
            <th>이름</th>
            <th>권한</th>
            <th>생성일자</th>
            </thead>
            <tbody>
            <tr th:each="a:${UserList}">
                <td th:text="${a.user_id}"></td>
                <td th:text="${a.name}"></td>
                <td th:text="${a.role}"></td>
                <td th:text="${a.createAt}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>



