<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">



<div layout:fragment="content">
    <div class="container-fluid" id="centerContent">
        <h1>게시글 조회</h1>

            <table class="table table-striped" style="margin-top:50px">
                        <thead>
                            <th>유저</th>
                            <th>제목</th>
                            <th>내용</th>
                            <th>작성일자</th>
                        </thead>
                <tbody>
                    <tr th:each="a:${PageArticle}">
                        <td th:text="${a.user_id}"></td>
                        <td>
                            <a th:href="@{/Article/detail(id=${a.article_id})}" th:text="${a.title}" target="_self" />
                        </td>
                        <td th:text="${a.content}"></td>
                        <td th:text="${a.createAt}"></td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align:center">
            <em th:each="num:${#numbers.sequence(1,PageArticle[0].maxPageGroup)}">
                <a th:href="@{/Article/list(pageGroup=${num})}" th:text="${num}"></a>
            </em>
            </div>
    </div>
</div>

</html>



