<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <style>
        td {
            text-align: center;
        }
    </style>
    <script>
        function ArticleButtonClick(){
            var user = [[${session.loginMember.user_id}]]
            var title = $("#title").val();
            var content = $("#contentText").val();
            var boardInfo = {
                "user_id":user,
                "title":title,
                "content":content
            }
            $.ajax({
                type: "post",
                url : "http://localhost:8081/Article/insert",
                headers: {'Content-Type': 'application/json'},
                ///보낼 데이터를 JSON.stringify()로 감싸주어야 함
                data : JSON.stringify(boardInfo),
                success : function (data){
                    alert("게시되었습니다");
                    location.reload();
                },
                error : function(e){

                }
            })
        }
    </script>
</head>

<th:block layout:fragment="content">

        <div id="centerContent">
            <h1>게시글 작성</h1>
            <div style="margin-top:50px">
                <table class="table table-striped-columns" id="tableContent" >
                    <tr class="d-flex">
                        <td class="col-2"><label for="title">제목</label></td>
                        <td class="flex-fill"><input id="title" type="text" style="width:100%; border: 0;"></td>
                        <td class="col-2"></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2"><label for="contentText">내용</label></td>
                        <td class="flex-fill"><textarea rows="6" id="contentText"style="width:100%; border: 0;"></textarea></td>
                        <td class="col-2"></td>
                    </tr>
                </table>
                <button onclick="ArticleButtonClick()">게시</button>
            </div>
        </div>


</th:block>
</html>



