<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">



<div layout:fragment="content">
    <div class="container-fluid" id="centerContent">
        <h1>게시글 조회</h1>

            <table class="table table-striped" style="margin-top:50px">
                        <thead>
                            <th>유저</th>
                            <th>제목</th>
                            <th>내용</th>
                            <th>작성일자</th>
                        </thead>
                <tbody>
                    <tr th:each="a:${PageArticle}">
                        <td th:text="${a.user_id}"></td>
                        <td>
                            <a th:href="@{/Article/detail(id=${a.article_id})}" th:text="${a.title}" target="_self" />
                        </td>
                        <td th:text="${a.content}"></td>
                        <td th:text="${a.createAt}"></td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align:center">
                <em th:each="num:${#numbers.sequence(pageNum[0],pageNum[1])}">
                    <a  th:href="@{/Article/list(pageGroup=${num},next=${PageArticle[0].currentGroup})}" th:text="${num}"></a>
                </em>

                <div th:if="${PageArticle[0].prevPageExist}">
                    <a th:href="@{/Article/list(pageGroup=${pageNum[0]-1},next=${PageArticle[0].prevGroup})}" th:text="${'prev'}"></a>
                </div>
                <div th:if="${PageArticle[0].nextPageExist}">
                    <a th:href="@{/Article/list(pageGroup=${pageNum[1]+1},next=${PageArticle[0].currentGroup+1})}" th:text="${'next'}"></a>
                </div>
            </div>
    </div>
</div>

</html>



