<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">


<head>
<script th:inline="javascript">
    function CommentButtonClick(){
        const user = [[${session.loginMember.user_id}]];

        const urlParams = new URL(location.href).searchParams;
        const article_id = urlParams.get('id');
        const comment = $("#description").val();
        var articleCommentInfo = {
            "user_id":user,
            "article_id":article_id,
            "comment":comment
        }
        $.ajax({
            type: "post",
            url : "http://localhost:8081/ArticleComment/insert",
            headers: {'Content-Type': 'application/json'},
            ///보낼 데이터를 JSON.stringify()로 감싸주어야 함
            data : JSON.stringify(articleCommentInfo),
            success : function (data){
                location.reload();
            },
            error : function(e){
            }
        })
    }
    function ChildCommentClick(comment_id,child_id){
        const user = [[${session.loginMember.user_id}]];
        var co_id = Number(comment_id);
        var ch_id = Number(child_id)+1;
        const x = 'c'+comment_id;
        var child_comment = $("#"+x).val();


        const article_id = new URL(location.href).searchParams.get('id')
        const comment = $("#child_description").val();
        var articleCommentInfo = {
            "comment_id":co_id,
            "article_id":Number(article_id),
            "child_id":ch_id,
            "comment":child_comment,
            "user_id":user


        }
        $.ajax({
            type: "post",
            url : "http://localhost:8081/ArticleComment/childInsert",
            headers: {'Content-Type': 'application/json'},
            ///보낼 데이터를 JSON.stringify()로 감싸주어야 함
            data : JSON.stringify(articleCommentInfo),
            success : function (data){
                location.reload();
            },
            error : function(e){
            }
        })
    }

    function CommentDeleteClick(id,child_id){

        var deleteInfo = {
            "comment_id":Number(id),
            "child_id":Number(child_id)
        };
        $.ajax({
            type: "POST",
            url : "http://localhost:8081/ArticleComment/delete",
            contentType: "application/json",
            ///보낼 데이터를 JSON.stringify()로 감싸주어야 함
            data : JSON.stringify(deleteInfo),
            success : function (data){
                location.reload();
            },
            error : function(e){
            }
        })
    }

    function childCommentVisibility(word){
        var a = document.getElementById(word);
        if(a.style.display=''){
            a.style.display = 'none'
        }else{
            a.style.display = ''
        }

    }
</script>
</head>

<th:block layout:fragment="content">
<div class="container">

    <div>게시글 상세 조회</div>
    <div>
    제목 <em class="title" th:text="${ArticleDetail.title}"></em>
    </div>
    <div> <label for="articleContent">내용</label>
        <p><textarea id="articleContent" th:value="${ArticleDetail.content}" th:text="${ArticleDetail.content}" readonly></textarea></p>
    </div>
    <table class="table table-striped">

        <tbody>
        <tr th:each="a:${ArticleDetail.getArticleCommentList()}">

            <td th:text="${a.child_id>1}?${'ㄴ'}:${''}">
            </td>

            <td>
                <label for="userid">ID</label>
            <em id="userid" th:text="${a.user_id}"></em>
            </td>
            <td>
                <em th:text="${a.comment}"></em>
            </td>
            <td>

                <button th:text="답글작성"
                        th:attr="onclick=|childCommentVisibility('childComment${a.comment_id}')|">
                </button>

                <em>



                    <em th:id="'childComment'+${a.comment_id}" style="display:none">
                        <textarea th:id="'c'+${a.comment_id}"></textarea>
                        <!--코멘트,자식값만 알고있으면된다.-->
                        <button class="accordion-button"
                                th:text="등록"
                                th:data-id="${a.comment_id}"
                                th:data-idd="${a.child_id}"
                                onclick="ChildCommentClick(this.getAttribute('data-id'),this.getAttribute('data-idd'))">
                        </button>
                    </em>
                </em>
            </td>

<!--            <em th:text="${a.createAt}"></em>-->
            <td>

                <em>
                    <!--본인댓글 또는 관리자는 삭제가능-->
                    <th:block th:if="${session.loginMember.user_id == a.user_id || session.loginMember.role == 'ADMIN'}">
                    <button class="accordion-button" th:text="삭제"
                            th:CommentId="${a.comment_id}"
                            th:ChildId="${a.child_id}"
                            onclick="CommentDeleteClick(this.getAttribute('CommentId'),this.getAttribute('ChildId'))"></button>
                    </th:block>
                </em>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <tr>
            <td>
                <label for="description">댓글</label>
            </td>
            <td>
                <textarea id="description" rows="3" placeholder="댓글을 입력해주세요" ></textarea>
            </td>
            <td>
                 <button  onclick="CommentButtonClick()" th:text="댓글등록" ></button>
            </td>
        </tr>
    </table>

</div>
</th:block>
</html>