<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <script>
        function ArticleButtonClick(){
            var title = $("#title").val();
            var content = $("#content").val();
            var articleInfo = {
                "user_id":3,
                "title":title,
                "content":content
            }
            $.ajax({
                type: "post",
                url : "http://localhost:8081/Article/insert",
                headers: {'Content-Type': 'application/json'},
                ///보낼 데이터를 JSON.stringify()로 감싸주어야 함
                data : JSON.stringify(articleInfo),
                success : function (data){
                    alert("게시되었습니다");
                    location.reload();
                },
                error : function(e){

                }
            })
        }
    </script>
</head>

<th:block layout:fragment="content">

        <div>게시글 작성</div>
        <div>
            제목 : <input id="title" type="text">
        </div>
        <div>
            내용 : <p><textarea id="content"></textarea></p>
        </div>
        <p>
            <button onclick="ArticleButtonClick()">게시</button>
        </p>


</th:block>
</html>



