<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">



<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="border border-dark rounded-lg"></div>
        <div>
            <div class="container-fluid">


                로그인
                <form method="post" action="/login">
                    <div>
                        <em>ID</em>  <input id="username" name="userid" type="text">
                    </div>
                    <div>
                        <em>PW</em> <input id="password" name="password" type="password">
                    </div>
                    <p>
                        <button type="submit">로그인</button>
                    </p>
                </form>


            </div>
        </div>
    </div>
</th:block>
</html>