<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <script>
        function findPassword(){
            location.href="/Certification/findPW";
        }

    </script>
</head>

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="border border-dark rounded-lg"></div>
        <div>
            <div class="container-fluid" style="text-align: center">


                <em>로그인</em>
                <form method="post" action="/login">
                    <div>
                        <input id="username" name="user_id" placeholder="ID" type="text">
                    </div>
                    <div>
                        <input id="password" placeholder="PW" name="password" type="password">
                    </div>
                    <p>
                        <button type="submit">로그인</button>
                    </p>
                </form>
                <button type="button" onclick="findPassword()">비밀번호 찾기</button>


            </div>
        </div>
    </div>
</th:block>
</html>