<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<script>
    function SignUpClick(){
        var user_id = $("#userid").val();
        var password = $("#password").val();
        var email = $("#email").val();
        var name = $("#name").val();
        var userInfo = {
            "user_id":user_id,
            "password":password,
            "name":name,
            "email":email
        }
        $.ajax({
            type: "post",
            url : "http://localhost:8081/User/SignUp",
            headers: {'Content-Type': 'application/json'},
            ///보낼 데이터를 JSON.stringify()로 감싸주어야 함
            data : JSON.stringify(userInfo),
            success : function (data){
                alert("회원가입이 성공적으로 완료되었습니다.");
                location.reload();
            },
            error : function(e){
            }
        })
    }
</script>
</head>

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div>회원가입</div>

        <div>
            ID : <input id="userid" type="text">
        </div>
        <div>
            NAME : <input id="name" type="text">
        </div>
        <div>
            PASSWORD : <input id="password" type="password">
        </div>
        <div>
            EMAIL : <input id="email" type="text">
        </div>
        <p>
            <button onclick="SignUpClick()">회원가입</button>
        </p>
    </div>
</th:block>
</html>



