@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "OpenSans";
    src: url("../font/OpenSans-Light.ttf") format("truetype");
    font-weight: normal;
} /* 이후 "SDGothic"으로 폰트 적용 가능 */

body{
    font-family: 'OpenSans', sans-serif;
}
.headerColor{
    background-color: lightgray;
}

.container.loginform {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: white;
    text-align: center;
    margin-left: -200px;
    margin-top: -200px;
    left: 50%;
    top: 50%;
}